BODY {
	padding-left:10px;
	font-family: 'Neucha', cursive;
}
H2 {
    font-family: 'Pacifico', cursive;
}
H2 A {
	text-decoration:none;
	color:red;
}
H2 A:hover {
	text-decoration:none;
	color:orange;
}
.post_preview_text {
	font-family: 'Neucha', cursive;
	font-size:12pt;
	font-weight:300;
}
#logo {
    margin-bottom: -100px;
    margin-top: -80px;
    width: 600px;
}
#footer{
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: small;
}